<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Prediction</title>
    <link rel="stylesheet" href="../static/css/predict.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lexend" >
  </head>
  <body>
    <header>
      <h1>DEVICE PREDICTOR</h1>
    </header>
    <main class="mainSection">
      <section class="instrucSec">
        <p>
          The AI will determine wheter the drawing is a pair of headphones, a
          mouse or a gamepad.
        </p>
        <h2>RESULTS</h2>
        <div class="imgDiv">
          <img src="../static/img/headphones.webp" alt="headphones" />
          <img src="../static/img/mouse.webp" alt="mouse" />
          <img src="../static/img/gamepad.png" alt="gamepad" />
        </div>
      </section>
      <section class="canvSec">
        <div class="canvImg">
          <img src="data:image/png;base64,{{ img_data }}" alt="device" />
        </div>
        <ul>
          {% for num in nums %}
          <li><span class="percentage">{{ num }} %</span> {{ devices[loop.index0] }}</li>
          {% endfor %}
        </ul>
      </section>
      <section class="buttonSec">
        <a href="/">Ir a la página principal</a>
      </section>
    </main>
  </body>
</html>
