:root {
	font-family: "Lexend";
	color-scheme: light ;
	--primary: #3D1860;
	--secondary: #3D1860;
	--ternary: #C3ACD0;
	--warning: #F4CE14;
	--base: #3D1860;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	background-color: #F9F9F9;
}
h1{
	margin-top: 20px;
	margin-left: 20px;
	font-size: 50px;
	color: #5D63A2;
}
.mainSection{
	margin-top: 20px;
}
.instrucSec{
	text-align: center;
}
.imgDiv img{
	width: 200px;
	margin-left: 50px;
	margin-right: 50px;
	animation: shakeImg 5s;
	animation-iteration-count: infinite;
}
p {
	color: #6A71AF;
	font-size: larger;
	margin-left: 30px;
}

h2{
	margin-top: 15px;
	font-size: 70px;
	color: #5D63A2;
	animation: shake 0.5s;
	animation-iteration-count: infinite;
	-webkit-animation: shake 0.5s;
}

@keyframes shake {
	0% { transform: translate(0px, 3px) rotate(0deg); }
}

@keyframes shakeImg {
	0% { transform: translate(0px, 0px) rotate(360deg); }
}

.canvSec{
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

#myCanvas {
	width: 350px;
	height: 350px;
	border: 3px solid #5D63A2;
	background-color: #CECDFF;
}

.buttonSec{
	margin-top: 10px;
	display: flex;
	justify-content: center;
}

/* Make a mask with border container for #myCanvas*/



button,
input[type="submit"] {
	width: 8em;
	height: 50px;
	font-size: 20px;
	margin: 1rem;
	border-radius: 5px;
	cursor: pointer;
	border-style: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.buttons {
	display: flex;
	flex-direction: row;
}

#bt_clear {
	border: 1px #5D63A2 solid;
	background-color: #5D63A2;
}

#bt_clear:hover {
	filter: brightness(1.5);
	-webkit-filter: brightness(1.5);
}

#bt_upload {
	border: 1px #9795FF solid;
	background-color: #9795FF;
}

#bt_upload:hover {
	filter: brightness(1.5);
	-webkit-filter: brightness(1.5);
}

.contenedor {
	height: 100vh;
	display: flex;
	justify-content: center;
}


.centrar {
	display: flex;
	width: max-content;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
	gap: 10% 10%;

}